.row
  .col-md-2
  .col-md-8
    %br
    %div
      / %div{style: 'font-size:18px;'}
      /   NGOs frequently send out surveys to staff and the general public with sms servers like FrontLine SMS and Rapidpro. This page visualizes these surveys via webhooks.
  .col-md-2

%div.container-fluid{"ng-controller" => "surveyCtrl"}
  .row
    .col-md-5
    .col-md-6
      %div.pull-right{"ng-show" => 'loader.loading', style:'position:absolute;'}
        =image_tag asset_path('ajax-loader.gif')
    .col-md-6
    
  %br
  .row
    .col-md-3.pre-scrollable{style: 'max-height:5000px;'}
      %p
        %br
        %strong{'ng-show' => 'surveys.length>0'}
          Click a Survey for a response summary.


      %p
        %ul{'ng-repeat' => 'survey in surveys'}
          %li.entry{'ng-click' => 'get_diagram(survey.node)', style: 'cursor:pointer;', 'ng-class'=>"{active: selected == survey.node}"}
            {{survey.question}}
            %br
            %br
            %p{style: 'font-size:11px;'}
              First sms: {{survey.first_date}}
              %br
              Last sms: {{survey.last_date}}
              %br
              Surveys completed: {{survey.total_instances}}


    %strong{'ng-show' => 'surveys.length < 1', style: 'font-size:24px;'}
      There are no surveys yet :|
    .col-md-9
      %p
        %diagram{nodes: 'nodes'}
          %div

