%div.container-fluid{"ng-controller" => "surveyCtrl"}
  .row
    .col-md-3.pre-scrollable{style: 'max-height:500px;'}
      %p
        %ul{'ng-repeat' => 'survey in surveys'}
          %li.entry{'ng-click' => 'get_diagram(survey.node)', style: 'cursor:pointer;', 'ng-class'=>"{active: selected == survey.node}"}
            {{survey.question}}
            %br
            %br
            %p{style: 'font-size:11px;'}
              First sms: {{survey.first_date}}
              %br
              Last sms: {{survey.last_date}}
              %br
              Surveys completed: {{survey.total_instances}}




    .col-md-9
      %p.pre-scrollable{style: 'max-height:400px'}
        %diagram{nodes: 'nodes'}
          %div

      %p{'ng-show' => 'instructions == true'}
        %strong{style: 'font-size:24px'}
          Mouse over the nodes for more information.
      %p{'ng-show' => '!!message'}
        Message: {{message}}
      %p{'ng-show' => '!!label'}
        Label: {{label}}
      %p{'ng-show' => '!!hits'}
        Hits: {{hits}}

      %p{'ng-show' => '!!responses'}
        Responses:
        %ul{'ng-repeat' => 'response in responses'}
          %li
            {{response[0]}} {{response[1]}}
