.row
  .col-xs-2
  .col-xs-8
    %br
    %div
      %p
        This page diagrams responses to sms surveys sent by
        %a{'href' => 'http://www.rapidpro.io'} Rapidpro 
        to NGO staff in the field throughout Liberia. 
      %p
        Here is a
        %a{href: 'https://www.youtube.com/watch?v=gFLNpSZuRaM'}screencast
        and the open source
        = succeed '.' do
          %a{href: 'https://github.com/mikefab/rapidpro-sms-manager'}repository

      / %p
      /   To see your survey diagramed here, POST your webhooks to:
      /   %span
      /     http://askliberia.herokuapp.com/events
  .col-md-2

%div.container-fluid{"ng-controller" => "surveyCtrl"}
  .row
    .col-xs-5
    .col-xs-6
      %div.pull-right{"ng-show" => 'loader.loading', style:'position:absolute;'}
        =image_tag asset_path('ajax-loader.gif')
    .col-xs-6
    
  %br
  .row
    .col-xs-3
      %p
        %br
        %strong{'ng-show' => 'surveys.length>0'}
          Click a Survey for a response summary.


      .row.pre-scrollable{style: 'min-height:600px;'}
        .col-xs-12
          %ul{'ng-repeat' => 'survey in surveys'}
            %li.entry{'ng-click' => 'get_diagram(survey.node)', style: 'cursor:pointer;', 'ng-class'=>"{active: selected == survey.node}"}
              {{survey.question}}
              %br
              %br
              %p{style: 'font-size:11px;'}
                First sms: {{survey.first_date}}
                %br
                Last sms: {{survey.last_date}}
                %br
                Surveys completed: {{survey.total_instances}}


    %div{'ng-show' => 'surveys_loaded'}
      %strong{'ng-show' => 'surveys.length < 1', style: 'font-size:24px;'}
        There are no surveys yet :|
      .col-xs-9
        %p
          %diagram{nodes: 'nodes'}
            %div

