.row
  .col-md-2
  .col-md-8
    %br
    %div
      / %div{style: 'font-size:18px;'}
      /   NGOs frequently send out surveys to staff and the general public with sms servers like FrontLine SMS and Rapidpro. This page visualizes these surveys via webhooks.
      %p
        %br
        Click a Survey below for a response summary.
  .col-md-2

%div.container-fluid{"ng-controller" => "surveyCtrl"}
  %br
  .row
    .col-md-3.pre-scrollable{style: 'max-height:500px;'}
      %p
        %ul{'ng-repeat' => 'survey in surveys'}
          %li.entry{'ng-click' => 'get_diagram(survey.node)', style: 'cursor:pointer;', 'ng-class'=>"{active: selected == survey.node}"}
            {{survey.question}}
            %br
            %br
            %p{style: 'font-size:11px;'}
              First sms: {{survey.first_date}}
              %br
              Last sms: {{survey.last_date}}
              %br
              Surveys completed: {{survey.total_instances}}



    .col-md-9
      %p
        %diagram{nodes: 'nodes'}
          %div

