%br
.container
  / Static navbar
  %nav.navbar.navbar-default
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Rumors App
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        / %ul.nav.navbar-nav
        /   %li.active
        /     %a{:href => "#"}
        /       Link
        /       %span.sr-only (current)
        /   %li
        /     %a{:href => "#"} Link
        /   %li.dropdown
        /     %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        /       Dropdown
        /       %span.caret
        /     %ul.dropdown-menu{:role => "menu"}
        /       %li
        /         %a{:href => "#"} Action
        /       %li
        /         %a{:href => "#"} Another action
        /       %li
        /         %a{:href => "#"} Something else here
        /       %li.divider
        /       %li
        /         %a{:href => "#"} Separated link
        /       %li.divider
        /       %li
        /         %a{:href => "#"} One more separated link


        %ul.nav.navbar-nav.navbar-right
          %form.navbar-form.navbar-left{:role => 'search', style: 'position:relative; right:100px;'}
            .form-group
              %input.form-control{:placeholder => "Search", :type => "text", :disabled => ""}
            %button.btn.btn-default{:type => "submit", :disabled => ""} Submit
          %li.active
            %a{:href => "#"} Open
          %li
            %a{:href => "#"} Deleted


      / /.navbar-collapse
    / /.container-fluid

%div.container-fluid{'ng-controller' => 'rumorCtrl'}
  .row
    .col-md-3{'ng-repeat' => 'status in statuses'}
      %div
        .row
          .col-md-12.text-center
            %strong
              {{status.name}}
        %br
        .row
          .col-md-12
            %ul{'ng-repeat' => "rumor in rumors | filter:{ status: status.name}" }
              %li
                %span
                  %rumor{rumor: 'rumor', statuses: 'statuses', urgencies: 'urgencies'} 


