%br
.container
  / Static navbar
  %nav.navbar.navbar-default
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Rumors App
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %form.navbar-form.navbar-left{:role => 'search', style: 'position:relative; right:100px;'}
            .form-group
              %input.form-control{:placeholder => "Search", :type => "text", :disabled => ""}
            %button.btn.btn-default{:type => "submit", :disabled => ""} Submit
          %li{"ui-sref-active" => "active"}
            %a{'ui-sref' => 'current'} Current
          %li{"ui-sref-active" => "active"}
            %a{'ui-sref' => 'deleted'} Deleted

- if is_admin?
  %div.container-fluid{'ng-controller' => 'rumorCtrl'}
    %div{"ui-view" => ""}
- else
  %p{style: 'position:relative; left:200px;'} 
    You are not allowed to view this content.

