.active{
  background-color:rgba(86,61,124,.15);
}

.entry{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.instructions{
  font-size:24px
}

.capsule{
  border-width: 5px;
  border-color: black;
  padding: 10px;
}

.urgency_high{
  color: red;
}

.urgency_medium{
  color: blue;
}

.urgency_low{
  color: black;
}