.active{
  background-color:rgba(86,61,124,.15);
}

.entry{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.pointer{
  cursor:pointer;
}

.navbar{
  margin-bottom: 200px;
}

.instructions{
  font-size:24px;
}

.capsule{
  font-size:9pt;
}

.rumor_options{
  min-height: 25px;
}

.urgency_high{
  color: #CC3300;
}

.urgency_medium{
  color: #0000CC;
}

.urgency_low{
  color: black;
}

.urgency_box{
  cursor:pointer;
	width:1px;height:1px;
  border-style: solid;
  border-width:1pt;
  border-color: black;
  font-size:8pt;
  width:10px;
  margin:1px;
}

.urgency_box.low{
  background-color: black;
}
.urgency_box.medium{
  background-color: blue;
}
.urgency_box.high{
  background-color: red;
}

