.modal-header
  %h5.modal-title  Phone: {{rumor.phone}}
  %br
  .row
    .col-md-11
      %strong
        This functionilty is not yet complete. 
    .col-md-1


.modal-body
  %form{'ng-submit' => 'respond_to_rumor()'}
    .form-group
      %label Text
      %textarea.form-control{:placeholder => 'Response', 'ng-model' => 'rumor.notes', 'disabled' => ''}
    %button.btn.btn-default{:type => 'submit', 'disabled' => ''} Respond
    .alert.fade{"active-class" => "in", "flash-alert" => "success"}
      %span.alert-message {{flash.message}}
.modal-footer
  %button.btn.btn-warning{"ng-click" => "cancel()"} close