.modal-header
  %h5.modal-title  Tags will be assigned to rumors here. Functionality not yet complete.


.modal-body
  %form{'ng-submit' => 'update_rumor()'}
    .form-group
      %label Tags
      %textarea.form-control{:placeholder => 'Tags', 'ng-model' => 'rumor.tags', 'disabled' => ''}
    %button.btn.btn-default{:type => 'submit', 'disabled' => ''} Submit
    .alert.fade{"active-class" => "in", "flash-alert" => "success"}
      %span.alert-message {{flash.message}}
.modal-footer
  %button.btn.btn-warning{"ng-click" => "cancel()"} close