%div.capsule{'ng-mouseenter' => 'show_options()', 'ng-mouseleave' => 'show_options()', 'ng-class' => "{urgency_low: rumor.urgency == 'low', urgency_medium: rumor.urgency == 'medium', urgency_high: rumor.urgency == 'high'}"}
  {{rumor.text}}
  %br
  %div.rumor_options
    %div{'ng-show' => 'display_options'}
      %span{'ng-repeat' => 'urgency in urgencies'}
        %span.urgency_box{title: 'urgency: {{urgency.name}}', 'ng-click' => 'update_urgency(urgency.name)', 'ng-class' => 'urgency.name'}
          &nbsp;&nbsp;
      &nbsp;
      .glyphicon.glyphicon-remove
      &nbsp;
      %span
        %i
          %span{title: '{{status.name}}', style: 'cursor:pointer; color:black;', 'ng-repeat' => 'status in statuses', 'ng-click' => 'update_status(status.name)'}
            {{status.symbol}}


      &nbsp;
      .glyphicon.glyphicon-comment
      &nbsp;
      .glyphicon.glyphicon-earphone